@model PizzaBOT.Models.Dish

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>

        <dd>
       @if (@Model.ImageData == null)
        {
            <div class="col-md-10">
                <img width="150" height="150" src="~/Content/Images/no.jpeg" />
            </div>
        }
        else
        {
            <div class="col-md-10">
                <img width="150" height="150" src="@Url.Action("GetImage", "Dishes", new { dishId = Model.DishId })" />
            </div>
        }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DishId }) |
    @Html.ActionLink("Back to List", "List")
</p>
